:root 
{--Background-colour: #E8F1CD;
--Background-gradient: #DCE8B9;
--Orange: #F15B12;
--Hover-orange: #CD5014;
--Lemon: #84A528;
--Active-black: #040404;
--Inactive-black: #373737;
--Inactive-black-2: #727272;
--Inactive-black-3: #D2D2D2;
--White: #FFFFFF;
--Border-black: #ADADAD;
}

/**********************************GLOBAL STYLES********************************************/
/**********************************GLOBAL STYLES********************************************/
/**********************************GLOBAL STYLES********************************************/

* {
  margin: 0;
  border: 0;
  padding: 0;
  background: var(--Background-colour) 0% 0% no-repeat padding-box;
  line-height: 150%;
  box-sizing: border-box;
}

/* WEB DEVELOPMENT BY OLABAYO BALOGUN (olabayobalogun@gmail.com) */
/*UI/UX DESIGN BY OPEYEMI ADETIFA (opeyemiadetifa17@gmail.com)  */

a {
  text-decoration-line: none;
  color: var(--Active-black);
}


a:hover {
  color: var(--Hover-orange);
}


.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-5 {
  width: 41.6666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3332%;
}

.col-8 {
  width: 66.6665%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3331%;
}

.col-11 {
  width: 91.6664%;
}

.col-12 {
  width: 100%;
}

/**********************************END OF GLOBAL STYLES********************************************/
/**********************************END OF GLOBAL STYLES********************************************/
/**********************************END OF GLOBAL STYLES********************************************/

/**********************************HEADER STYLES********************************************/
/**********************************HEADER STYLES********************************************/
/**********************************HEADER STYLES********************************************/


header {
  display: flex;
  background-color: var(--Background-gradient);  
  padding-bottom: 1vw;
  margin-right: -2vw;
  width: 100%;
}

header img{
  margin-top: 1%;
  margin-left: 2%;
  background-color: var(--Background-gradient);  
}

nav {
  font-size: 1.5vw;
  display: flex;
  margin-top: 2%;   
  padding-left: 17%;
  background-color: var(--Background-gradient);  
}

nav li {
  list-style: none;
  margin-right: 1.5%;
  font-size: 1.7vw;
  background-color: var(--Background-gradient);  
}

.home{
  background-color: var(--Background-gradient);  
}

#resources{
  background-color: var(--Background-gradient);  
}

#aboutUs{
  background-color: var(--Background-gradient);
  color: var(--Hover-orange);  
} 

#afrotadaShop{
  background-color: var(--Background-gradient);
}

#contactUs{
  background-color: var(--Background-gradient);  
} 

#joinOurTeam{
  color: var(--Lemon);
  background-color: var(--Background-gradient);
}

section {
  display: flex;  
  background-color: var(--Background-gradient);
  padding-bottom: 1%;
}

#afrotadaShopText{
  font-size: 1.9vw;
  font-weight: bold;
  color: var(--Orange);
  margin-left: 2vw;
  background-color: var(--Background-gradient);
  padding-top: 0.3%; 
}

form{
  display: flex;
  margin-left: 27%;
  background-color: var(--Background-gradient);
  padding-bottom: 1vh;
  
}

input {
    padding-left: 1vw;
    padding-top: 2%;
    padding-bottom: 2%;
  font-size: 1.5vw;
  background-color: white;
  width: 30vw;
  height: 100%;
  border: none;
  outline: none;
}

img#searchIcon {
  width: 12%;
  padding: 0.5vw;
  color: white;
  background-color: var(--Orange);
  height: 100%;
  margin-right: 5%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
}

button {
  display: contents;
}

/**********************************END OF HEADER STYLES********************************************/
/**********************************END OF HEADER STYLES********************************************/
/**********************************END OF HEADER STYLES********************************************/

/**********************************BODY STYLES********************************************/
/**********************************BODY STYLES********************************************/
/**********************************BODY STYLES********************************************/
body {
  background-repeat: no-repeat;
  background-color: var(--Background-colour);
}

section#intro{
  display: flex;
  margin-top: 5%;
  background-color:var(--Background-colour)
}

#aboutUsText p{
  width: 80%;
  margin-left: 20%;
  font-size: 1.5vw;
  text-align: justify;
  padding-right: 20%;
}

#aboutUsImg img{
  width: 15vw;
  margin-left: 7vw;
}

.purpose{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  margin-top: 5%;
  font-weight: bolder;
  text-align: justify;
}
.purpose img{
 background-color: var(--Background-color);
}


.purpose li{
  font-size: 1.5vw;
  margin: auto;
  margin-bottom: 5%;
  /* list-style-image: url(/img/AfroTada\ with\ shadow\ small.svg);
  list-style-position: outside; */
}

main {
  margin: auto;
  width: 80vw;  
}

main img {
   width: 3vw;
}

h1, h2 {
  color: var(--Lemon);
  text-align: center;
  text-justify: auto;
  font-size: 3vw;
  margin-bottom: 5%;
}

p {
  font-weight: bold;
}

section.visionAndMission {
  display: flex;
  background-color: var(--Background-colour);
  width:60%;
  margin: auto;
  margin-top: 5%;
}

.vision{
  background-color: var(--Background-gradient);
  border-radius: 5%;
  width: 30%;
  margin-right: 15%;
  margin-left: 10%
}

.mission{
  background-color: var(--Background-gradient);
  border-radius: 5%;
  width: 30%;
}

h3{
  background-color: var(--Background-gradient);
  margin-bottom: 0;
  color: var(--Lemon);
  text-align: center;
  text-justify: auto;
  font-size: 3vw;
  padding-top: 5%;
  border-radius: 10%;
}

.vision p{
  background-color: var(--Background-gradient);
  width: 70%;
  margin: auto;
  padding-bottom: 10%;
  padding-top: 10%;
}

.mission p{
  background-color: var(--Background-gradient);
  padding-bottom: 10%;
  width: 80%;
  margin: auto;
  padding-top: 10%;
}

li img{
  width: 1vw;
  margin-right: 5%;
  background-color: var(--Background-gradient)
}
.orangeText {
  color: --var(orange)
}

#objectives{
  width: 45%;
  margin: auto;
  background-color: var(--Background-gradient);
  display:block;
  margin-top: 5%;
  border-radius: 5%;
  margin-right: 29%;
}

#ourObjectivesText{
  margin-bottom: 5%;
}

#objectives li{
  background-color: var(--Background-gradient);
  list-style-type: none;
  padding-left: 10%;
  font-weight: bolder;
  padding-right: 10%;
}

#objectives li:last-child{
  padding-bottom: 5%;
  text-align: justify;
}

li {
  list-style-type: none;
}

.logoInterpretation{
  width:45%;
  margin: auto;
  display: block;
  margin-top: 5%;
  background-color: var(--Background-gradient);
  border-radius:5%;
  margin-right: 29%;
  margin-bottom: 5%;
}

.logoInterpretation p{  
  background-color: var(--Background-gradient);
  padding-left: 5%;
  margin: auto;
  padding-right: 5%;
}

.logoInterpretation p:last-child{  
  padding-bottom: 5%;
}

span{
  background-color: var(--Background-gradient);
}

#blueText {
  color: blue;
}

#brownText{
  color: brown;
}

#yellowText {
  color: yellow;
}

#greenText {
  color: green;
}


#blackText{
  color: black;
  font-size: 3vw;
  background-color: var(--Background-colour);
  padding-bottom: 1%;
}

#ourTeam{
  width: 80%;
  margin: auto;
  margin-bottom: 10%;
  display: block;
  background-color: var(--Background-colour);
}

.teamProfile {
  margin-left: 10%;
}

.teamMember {
  display: flex;
  padding-bottom: 5%;
  padding-right: 5%;
}

.teamMemberImg img{
  width: 15vw;
  border-radius: 100%;
}

p.name{
  color: var(--Lemon);
  font-size: 1.5vw;
  width: 30vw;
  padding-left: 20%;
  padding-top: 5%;
}

#teamMemberDesignation{
  width: 100%;
}
/**********************************END OF BODY STYLES********************************************/
/**********************************END OF BODY STYLES********************************************/
/**********************************END OF BODY STYLES********************************************/

/**********************************FOOTER STYLES********************************************/
/**********************************FOOTER STYLES********************************************/
/**********************************FOOTER STYLES********************************************/

footer {
  text-align: center;
}

#followUsText {
  font-size: 1.75vw;
  width: 15vw;
  text-align: center;
  margin: auto;
  margin-top: 2%;
}

#socialMedia img{
  margin: auto;
  margin-top: 2vh;
}

img#socialMediaIcon1 {
  width: 3vw;
  margin-right: 1vw;
}

img#socialMediaIcon2 {
  width: 3vw;
  margin-right: 1vw;
}

img#socialMediaIcon3 {
  width: 3vw;
}

#policy {
  display: flex;
  width: 100%;
  padding-left: 35%;
  margin-top: 2%;
}

#policy li {
  margin-right: 2vw;
  font-size: 1.5vw;
  margin-bottom: 5vh;
  list-style: none;
}

#backToTop {
  padding-left: 22%;
  font-size: 1.5vw;
  margin-bottom: 5%;
  width: 40%
}

#backToTop img {
  padding-left: 10%;
  width: 4vw;
}
/**********************************END OF FOOTER STYLES********************************************/
/**********************************END OF FOOTER STYLES********************************************/
/**********************************END OF FOOTER STYLES********************************************/
@media screen and (max-width: 1024px){
  header img{
    padding-top: 1.5vh;
    padding-left: 0;
    background-color: var(--Background-gradient);  
  }
  
  nav {
    font-size: 1.5vw;
    display: flex;
    padding-top: 2.2vh;
    padding-left: 17%;
    background-color: var(--Background-gradient);  
  }
  #afrotadaShopText {
    padding-top: 0.5vh;
  }

  input {
    padding-left: 1vw;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    font-size: 1.5vw;
    background-color: white;
    width: 30vw;
    height: 100%;
    border: none;
    outline: none;
  }

  img#searchIcon {
    width: 12%;
    padding: 0.5vw;
    color: white;
    background-color: var(--Orange);
    height: 100%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 768px){
  header img{
    padding-top: 1.5vh;
    padding-left: 0;
    background-color: var(--Background-gradient);  
  }
  
  nav {
    font-size: 1.5vw;
    display: flex;
    padding-top: 2.2vh;
    padding-left: 17%;
    background-color: var(--Background-gradient);  
  }
  #afrotadaShopText {
    padding-top: 0.5vh;
  }

  input {
    padding-left: 1vw;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    font-size: 1.5vw;
    background-color: white;
    width: 30vw;
    height: 100%;
    border: none;
    outline: none;
  }

  img#searchIcon {
    width: 12%;
    padding: 0.5vw;
    color: white;
    background-color: var(--Orange);
    height: 100%;
    margin-right: 5%;
  }

  p{
    font-size: 1.7vw;
  }

  li{
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 480px){
  header img{
    padding-top: 1.5vh;
    padding-left: 0vw;
    background-color: var(--Background-gradient);  
  }
  
  nav {
    font-size: 1.5vw;
    display: flex;
    padding-top: 2.2vh;
    padding-left: 17%;
    background-color: var(--Background-gradient);  
  }
  #afrotadaShopText {
    padding-top: 0.5vh;
  }

  input {
    padding-left: 1vw;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.5vw;
    background-color: white;
    width: 30vw;
    height: 1vh;
    border: none;
    outline: none;
  }

  img#searchIcon {
    width: 10%;
    padding: 0.5vw;
    color: white;
    background-color: var(--Orange);
    height: 100%;
    margin-right: 5%;
  }

  p{
    font-size: 1.7vw;
  }

  li{
    font-size: 1.7vw;
  }
}