:root 
{--Background-colour: #E8F1CD;
--Background-gradient: #DCE8B9;
--Orange: #F15B12;
--Hover-orange: #CD5014;
--Lemon: #84A528;
--Active-black: #040404;
--Inactive-black: #373737;
--Inactive-black-2: #727272;
--Inactive-black-3: #D2D2D2;
--White: #FFFFFF;
--Border-black: #ADADAD;
}

/**********************************GLOBAL STYLES********************************************/
/**********************************GLOBAL STYLES********************************************/
/**********************************GLOBAL STYLES********************************************/

* {
  margin: 0;
  border: 0;
  padding: 0;
  background: var(--Background-colour) 0% 0% no-repeat padding-box;
  line-height: 150%;
  box-sizing: border-box;
}

/* WEB DEVELOPMENT BY OLABAYO BALOGUN (olabayobalogun@gmail.com) */
/*UI/UX DESIGN BY OPEYEMI ADETIFA (opeyemiadetifa17@gmail.com)  */

a {
  text-decoration-line: none;
  color: var(--Active-black);
}


a:hover {
  color: var(--Hover-orange);
}


.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-5 {
  width: 41.6666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3332%;
}

.col-8 {
  width: 66.6665%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3331%;
}

.col-11 {
  width: 91.6664%;
}

.col-12 {
  width: 100%;
}

/**********************************END OF GLOBAL STYLES********************************************/
/**********************************END OF GLOBAL STYLES********************************************/
/**********************************END OF GLOBAL STYLES********************************************/

/**********************************HEADER STYLES********************************************/
/**********************************HEADER STYLES********************************************/
/**********************************HEADER STYLES********************************************/

header {
  display: flex;
  background-color: var(--Background-gradient);  
  padding-bottom: 1vw;
  width: 100%;
}

header img{
  display: flex;  
  margin-top: 2%;
  margin-left: 2%;
  width: 100%;
  background-color: var(--Background-gradient);  
  height: 40%;
}

nav {
  font-size: 1.5vw;
  display: flex;
  margin-top: 2%;   
  margin-left: 44%;
  background-color: var(--Background-gradient);  
}

nav li {
  list-style: none;
  margin-right: 1.5%;
  font-size: 1.7vw;
  background-color: var(--Background-gradient);  
}

.home{
  background-color: var(--Background-gradient);  
}

#resources{
  background-color: var(--Background-gradient);  
}

#aboutUs{
  background-color: var(--Background-gradient);
} 

#afrotadaShop{
  background-color: var(--Background-gradient);
}

#contactUs{
  background-color: var(--Background-gradient);  
} 

#resources a{
background-color: var(--Background-gradient);
}

#resources:hover{
  width: 13%;
  background-color: var(--Background-gradient); 
}

#resources:hover #dropDown{
  display: block;
  z-index: 2;
}

#dropDown {
  display: none;
  background-color: var(--Background-gradient); 
}

#resourcesByCategory{
  font-size: 1.5vw;
  background-color: var(--Background-gradient); 
}

#resourcesByCountry{
  font-size: 1.5vw;
  background-color: var(--Background-gradient); 
}


#joinOurTeam{
  color: var(--Lemon);
  background-color: var(--Background-gradient);
}

#hamburger{
  display: none;
}
section {
  display: flex;  
  background-color: var(--Background-gradient);
  padding-bottom: 1%;
}

#resourcesText{
  font-size: 1.4vw;
  font-weight: bold;
  color: var(--Orange);
  margin-left: 2%;
  background-color: var(--Background-gradient);
  padding-top: 0.3%; 
}


#resourcesText a{
  background-color: var(--Background-gradient);
}

#resourcesText a:first-child{
  color: var(--Hover-orange)
}

#resourcesText img{
  background-color: var(--Background-gradient);
  width: 5%;
}

form{
  display: flex;
  margin-left: 28%;
  background-color: var(--Background-gradient);
  padding-bottom: 1%;  
}

input {
  padding-left: 1vw;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  font-size: 1.5vw;
  background-color: white;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: none;
}

img#searchIcon {
  width: 12%;
  padding: 2%;
  color: white;
  background-color: var(--Orange);
  height: 100%;
  margin-right: 5%;
}

button {
  display: contents;
}
/**********************************END OF HEADER STYLES********************************************/
/**********************************END OF HEADER STYLES********************************************/
/**********************************END OF HEADER STYLES********************************************/

/**********************************BODY STYLES********************************************/
/**********************************BODY STYLES********************************************/
/**********************************BODY STYLES********************************************/
body {
  background-repeat: no-repeat;
  background-color: var(--Background-colour);
}
main {
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: var(--Background-colour);
}

main img {
  background-color: var(--Background-colour);
}

#secondSection{
  background-color: var(--Background-colour);
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

#secondSection p{
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 10%;
  font-size: 1.5vw;
  font-weight: bold;
}

#secondSection span{
  color: var(--Hover-orange);
  padding-right: 30%;
  font-weight: bold;
  font-size: 1.8vw;
}

#regionText{
  margin-right: 5%;
}

#capitalText{
  margin-right: 5%;
}

#secondSection img{
  width: 50%;
  margin-left: 30%;
}

.africanAttractions {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 1%;
  padding-top: 7%;
  transition: transform .2s;
}

.africanAttractions img:hover{
  transform: scale(1.2);
}

.africanBooks img {
  width: 8vw;
  background-color: var(--Background-colour);
}

.africanBooks p {
  font-size: 1.5625vw;
  font-weight: bolder;
  margin-top: 4.5%;
  margin-bottom: 30%;
  background-color: var(--Background-colour);
}

.africanCulture img {
  width: 8vw;
  background-color: var(--Background-colour);
}

.africanCulture p {
  font-weight: bolder;
  font-size: 1.5625vw;
  margin-top: 2%;
  margin-bottom: 30%;
  background-color: var(--Background-colour);
}

.africanPodcasts img {
  width: 8vw;
  background-color: var(--Background-colour);
}

.africanPodcasts p {
  font-size: 1.5625vw;
  margin-top: 4%;
  margin-bottom: 30%;
  font-weight: bolder;
  background-color: var(--Background-colour);
}

.africanUniversities img {
  width: 8vw;
  background-color: var(--Background-colour);
}

.africanUniversities p {
  font-size: 1.5625vw;
  margin-top: 4%;
  font-weight: bolder;
  margin-bottom: 30%;
  background-color: var(--Background-colour);
}

.africanProverbs img {
  width: 8vw;
  background-color: var(--Background-colour);
}

.africanProverbs p {
  font-size: 1.5625vw;
  margin-top: 5%;
  font-weight: bolder;
  margin-bottom: 30%;
  background-color: var(--Background-colour);
}

.africanQuotes img {
  width: 8vw;
  background-color: var(--Background-colour);
}

.africanQuotes p {
  font-size: 1.5625vw;
  margin-top: 2%;
  font-weight: bolder;
  margin-bottom: 30%;
  background-color: var(--Background-colour);
}

.africanWriters img {
  width: 8vw;
  background-color: var(--Background-colour);
}

.africanWriters p {
  font-size: 1.5625vw;
  margin-top: 2%;
  font-weight: bolder;
  margin-bottom: 5vh;
  background-color: var(--Background-colour);
}

.africanPoets img {
  width: 8vw;
  background-color: var(--Background-colour);
}

.africanPoets p {
  font-size: 1.5625vw;
  margin-top: 1.5%;
  font-weight: bolder;
  margin-bottom: 5vh;
  background-color: var(--Background-colour);
}

.africanFood img {
  width: 8vw;
  background-color: var(--Background-colour);
}

.africanFood p {
  font-size: 1.5625vw;
  margin-top: 1.7%;
  font-weight: bolder;
  margin-bottom: 5vh;
  background-color: var(--Background-colour);
}

.africanDocumentaries img {
  width: 8vw;
  background-color: var(--Background-colour);
}

.africanDocumentaries p {
  font-size: 1.5625vw;
  margin-top: 18%;
  font-weight: bolder;
  margin-bottom: 5vh;
  background-color: var(--Background-colour);
}

.africanNaturalResources img {
  width: 8vw;
  background-color: var(--Background-colour);
}

.africanNaturalResources p {
  font-size: 1.5625vw;
  margin-top: 24%;
  font-weight: bolder;
  margin-bottom: 5vh;
  background-color: var(--Background-colour);
}

.africanHistoricalSites img {
  width: 8vw;
  background-color: var(--Background-colour);
}

.africanHistoricalSites p {
  font-size: 1.5625vw;
  margin-top: 13%;
  font-weight: bolder;
  margin-bottom: 5vh;
  background-color: var(--Background-colour);
}


/**********************************END OF BODY STYLES********************************************/
/**********************************END OF BODY STYLES********************************************/
/**********************************END OF BODY STYLES********************************************/

/**********************************FOOTER STYLES********************************************/
/**********************************FOOTER STYLES********************************************/
/**********************************FOOTER STYLES********************************************/

footer {
  text-align: center;
}

#followUsText {
  font-size: 1.75vw;
  width: 15vw;
  text-align: center;
  margin: auto;
  margin-top: 2%;
}

#socialMedia img{
  margin: auto;
  margin-top: 2vh;
}

img#socialMediaIcon1 {
  width: 3vw;
  margin-right: 1vw;
}

img#socialMediaIcon2 {
  width: 3vw;
  margin-right: 1vw;
}

img#socialMediaIcon3 {
  width: 3vw;
  margin-right: 1vw;
}

img#socialMediaIcon4{
  width: 3vw;
  
}

#policy {
  display: flex;
  width: 100%;
  padding-left: 35%;
  margin-top: 2%;
}

#policy li {
  margin-right: 2vw;
  font-size: 1.5vw;
  margin-bottom: 5vh;
  list-style: none;
}

#backToTop {
  padding-left: 22%;
  font-size: 1.5vw;
  margin-bottom: 5%;
  width: 40%
}

#backToTop img {
  padding-left: 10%;
  width: 4vw;
}
/**********************************END OF FOOTER STYLES********************************************/
/**********************************END OF FOOTER STYLES********************************************/
/**********************************END OF FOOTER STYLES********************************************/
@media screen and (max-width: 1024px){
  header img{
    padding-top: 1.5%;
    padding-left: 0;
    background-color: var(--Background-gradient);  
  }
  
  nav {
    font-size: 1.5vw;
    display: flex;
    padding-top: 1%;
    padding-left: 27%;
    background-color: var(--Background-gradient);  
  }
  #resourcesText {
    padding-top: 0.5vh;
  }

  #resourcesText img{
    width: 5%;
  }


  input {
    padding-left: 1vw;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    font-size: 1.5vw;
    background-color: white;
    width: 30vw;
    height: 100%;
    border: none;
    outline: none;
  }

  img#searchIcon {
    width: 12%;
    padding: 0.5vw;
    color: white;
    background-color: var(--Orange);
    height: 100%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 768px){
  header img{
    padding-top: 1.5%;
    padding-left: 0;
    background-color: var(--Background-gradient);  
  }
  
  nav {
    font-size: 1.5vw;
    display: flex;
    padding-top: 1%;
    padding-left: 27%;
    background-color: var(--Background-gradient);  
  }
  #resourcesText {
    padding-top: 0.5vh;
  }

  #resourcesText img{
    width: 5%;
  }

  input {
    padding-left: 1vw;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    font-size: 1.5vw;
    background-color: white;
    width: 30vw;
    height: 100%;
    border: none;
    outline: none;
  }

  img#searchIcon {
    width: 12%;
    padding: 0.5vw;
    color: white;
    background-color: var(--Orange);
    height: 100%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 480px){
  img.afrotadaLogo {
    width: 25%;
    margin-left: 2%;
  }
  
  nav {
    margin-left:7%;
    font-size: 1.5vw;
    display: none;
    margin-top: 12%;
    margin-right: 5%;
    z-index: 2;
  }
  
  nav li{
    font-size: 3.5vw;
    text-align: right;
  }

    #resources:active{
    width: 100%;
    display: block;
  }

  #dropDown{
    display: block;
  }

  #resourcesByCategory{
    font-size: 3.5vw;
  }
  
  #resourcesByCountry{
    font-size: 3.5vw;

  }

  #joinOurTeam{
    margin-right: 0;
  }

  #hamburger{
    display: unset;
    position: absolute;
    top: 2.5%;
    right: 5%;  
    outline: none;
  }

  #underNav{
    padding-top: 3%;
  }

 #countryInformation p{
    font-size: 2vw;
  }

  #countryInformation span{
    font-size: 2.2vw;
  }
  .col-3 {
    width: 50%;
  }

  #resourcesText{
    font-size: 1.5vw;
  }

  .africanBooks img{
    width: 60%;
  }

  .africanBooks p{
    margin-top: 7%;
    font-size: 3vw;
  }

  .africanCulture img{
    width: 60%;
  }

  .africanCulture p{
    margin-top: 3%;
    font-size: 3vw;
  }

  .africanPodcasts img{
    width: 60%;
  }

  .africanPodcasts p{
    margin-top: 3%;
    font-size: 3vw;
  }

  .africanUniversities img{
    width: 60%;
  }

  .africanUniversities p{
    margin-top: 3%;
    font-size: 3vw;
  }

  .africanProverbs img{
    width: 60%;
  }

  .africanProverbs p{
    margin-top: 8%;
    font-size: 3vw;
  }
  
  .africanQuotes img{
    width: 60%;
  }

  .africanQuotes p{
    margin-top: 3%;
    font-size: 3vw;
  }

  .africanWriters img {
    width: 60%;
  }

  .africanWriters p{
    margin-top: 3%;
    font-size: 3vw;
  }

  .africanPoets img{
    width: 60%;
  }

  .africanPoets p{
    margin-top: 2%;
    font-size: 3vw;
  }

  .africanFood img{
    width: 60%;
  }

  .africanFood p{
    margin-top: 3%;
    font-size: 3vw;
  }

  .africanDocumentaries img{
    width: 60%;
  }

  .africanDocumentaries p{
    margin-top: 25%;
    font-size: 3vw;
  }

  .africanNaturalResources img{
    width: 60%;
  }

  .africanNaturalResources p{
    margin-top: 17%;
    font-size: 3vw;
  }

  .africanHistoricalSites img{
    width: 60%;
  }

  .africanHistoricalSites p{
    margin-top: 3%;
    font-size: 3vw;
  }
  
  #followUsText{
    font-size: 3.5vw;
    width: 80%;
  }

  img#socialMediaIcon1 {
    width: 4vw;
  }

  img#socialMediaIcon2 {
    width: 4vw;
  }

  img#socialMediaIcon3 {
    width: 4vw;
  }

  img#socialMediaIcon4 {
    width: 4vw;
  }

  #policy{
    margin-left: 0%;
    padding-left: 25%;
  }

  #policy li {
    font-size: 2.5vw;
    margin-right: 2vw;
  }

  #backToTop{
    font-size: 2vw;
    padding-left: 0%;
    margin-left: 5%;
    width: 20%;
  }

  #backToTop img{
    width: 30%;
    padding-left: 0%;
    margin-left: 7%;
  }
}
