:root 
{--Background-colour: #E8F1CD;
--Background-gradient: #DCE8B9;
--Orange: #F15B12;
--Hover-orange: #CD5014;
--Lemon: #84A528;
--Active-black: #040404;
--Inactive-black: #373737;
--Inactive-black-2: #727272;
--Inactive-black-3: #D2D2D2;
--White: #FFFFFF;
--Border-black: #ADADAD;
}

/**********************************GLOBAL STYLES********************************************/
/**********************************GLOBAL STYLES********************************************/
/**********************************GLOBAL STYLES********************************************/

* {
  margin: 0;
  line-height: 150%;
  background-color: #E8F1CD;
}

a {
  text-decoration-line: none;
  color: black;
}

a:hover {
  color: #CD5014;
}

.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-5 {
  width: 41.6666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3332%;
}

.col-8 {
  width: 66.6665%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3331%;
}

.col-11 {
  width: 91.6664%;
}

.col-12 {
  width: 100%;
}

/**********************************END OF GLOBAL STYLES********************************************/
/**********************************END OF GLOBAL STYLES********************************************/
/**********************************END OF GLOBAL STYLES********************************************/

/**********************************HEADER STYLES********************************************/
/**********************************HEADER STYLES********************************************/
/**********************************HEADER STYLES********************************************/

header {
  display: flex;
  text-align: center;
  margin: auto;
   ;
     
  left: 5vw;
  right: 5vw;
}

nav {
  font-size: 1.5vw;
   ;
  left: 23vw;
     
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 1vw;
}

nav .home {
  color: --var(orange);
}

#about {
  
}

#afrotadaShop {
 
}

#contactUs {
  
}

#languageSelector {
   ;
  left: 60vw;
     
  background-color: white;
  font-size: 1.3vw;
}

.afroTadaLogo img {
   ;
  width: 15vw;
  top: 3vh;
  left: 0vw;
}

/**********************************END OF HEADER STYLES********************************************/
/**********************************END OF HEADER STYLES********************************************/
/**********************************END OF HEADER STYLES********************************************/

/**********************************BODY STYLES********************************************/
/**********************************BODY STYLES********************************************/
/**********************************BODY STYLES********************************************/
body {
  background-repeat: no-repeat;
  background-color: #DCE8B9;
}

main {
   ;
  top: 20vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

h1 {
   ;
  text-align: center;
  color: #84a528;
  top: 1vh;
  left: 21vw;
  width: 50vw;
  font: normal normal 600 4vw/5.0625vw Hind Siliguri;
  letter-spacing: 0px;
  text-shadow: 0px 3px 10px #0404044f;
}

.afrotadaVision {
  text-align: center;
  font-size: 1.5vw;
  width: 32vw;
   ;
  top: 18vh;
  left: 30vw;
}

#afrotadaOrangeText {
  color: #f15b12;
}

#search {
  text-align: left;
   ;
  left: 31vw;
  top: 16vw;
  width: 30vw;
  height: 7vh;
  background-color: white;
  border-color: white;
  border-style: none;
}

::placeholder {
  padding-left: 1vw;
  font-size: 1.5625vw;
}

#searchIcon {
  color: white;
  background-color: #f15b12;
  width: 1.28vw;
  padding: 1vw;
  margin-bottom: 0;
   ;
  top: 33.37vh;
  left: 57.7vw;
}

button {
  display: contents;
}

.africanAttractions {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  text-align: center;
  margin: auto;
   ;
  top: 55vh;
  left: 4vw;
}

.africanBooks img {
  width: 8vw;
}

.africanBooks p {
  font-size: 1.5625vw;
  font-weight: bolder;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.africanCulture img {
  width: 8vw;
}

.africanCulture p {
  font-weight: bolder;
  font-size: 1.5625vw;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.africanPodcasts img {
  width: 8vw;
}

.africanPodcasts p {
  font-size: 1.5625vw;
  margin-top: 2.9vh;
  font-weight: bolder;
  margin-bottom: 5vh;
}

.africanUniversities img {
  width: 8vw;
}

.africanUniversities p {
  font-size: 1.5625vw;
  margin-top: 2.9vh;
  font-weight: bolder;
  margin-bottom: 5vh;
}

.africanProverbs img {
  width: 8vw;
}

.africanProverbs p {
  font-size: 1.5625vw;
  margin-top: 3vh;
  font-weight: bolder;
  margin-bottom: 5vh;
}

.africanQuotes img {
  width: 8vw;
}

.africanQuotes p {
  font-size: 1.5625vw;
  margin-top: 1.9vh;
  font-weight: bolder;
  margin-bottom: 5vh;
}

.africanWriters img {
  width: 8vw;
}

.africanWriters p {
  font-size: 1.5625vw;
  margin-top: 1.9vh;
  font-weight: bolder;
  margin-bottom: 5vh;
}

.africanPoets img {
  width: 8vw;
}

.africanPoets p {
  font-size: 1.5625vw;
  margin-top: 1.6vh;
  font-weight: bolder;
  margin-bottom: 5vh;
}

.africanFood img {
  width: 8vw;
}

.africanFood p {
  font-size: 1.5625vw;
  margin-top: 2vh;
  font-weight: bolder;
  margin-bottom: 5vh;
}

.africanDocumentaries img {
  width: 8vw;
}

.africanDocumentaries p {
  font-size: 1.5625vw;
  margin-top: 8.25vh;
  font-weight: bolder;
  margin-bottom: 5vh;
}

.africanNaturalResources img {
  width: 8vw;
}

.africanNaturalResources p {
  font-size: 1.5625vw;
  margin-top: 10.3vh;
  font-weight: bolder;
  margin-bottom: 5vh;
}

.africanHistoricalSites img {
  width: 8vw;
}

.africanHistoricalSites p {
  font-size: 1.5625vw;
  margin-top: 2.8vw;
  font-weight: bolder;
  margin-bottom: 5vh;
}

.catalogue {
  display: flex;
   ;
  top: 190vh;
  width: 80%;
  left: 20vw;
}

.latestContribution {
   ;
  top: 180vh;
  display: flex;
}

.latestContributionText {
  font-size: 1.6875vw;
   ;
  left: 13vw;
  width: 25vw;
  font-weight: bold;
}

.viewMore {
  font-size: 1.6875vw;
   ;
  left: 77.7vw;
  width: 10vw;
  font-weight: bold;
}

.radwaImg {
  width: 20vw;
  height: 49vh;
   ;
  right: 66vw;
}

img.tag1 {
   ;
  top: 55vh;
  right: 83.5vw;
  width: 2.3vw;
}

.bookText1 {
   ;
  top: 54vh;
  right: 80vw;
  font-size: 1.3vw;
  font-weight: bolder;
}

.bookTitle1 {
   ;
  top: 60vh;
  right: 68vw;
  font-size: 1.3vw;
  width: 18vw;
  font-weight: bolder;
}

.contributor1 {
   ;
  top: 76vh;
  right: 61vw;
  font-size: 1.2vw;
  width: 25vw;
  font-weight: bolder;
}

.contributionDate1 {
   ;
  top: 72vh;
  right: 66vw;
  font-size: 1.2vw;
  width: 20vw;
  font-weight: bolder;
}

img.tag2 {
   ;
  top: 55vh;
  right: 61.5vw;
  width: 2.3vw;
}

.cultureText {
   ;
  top: 54vh;
  right: 56.5vw;
  font-size: 1.3vw;
  font-weight: bolder;
}

.articleTitle2 {
   ;
  top: 60vh;
  right: 39vw;
  font-size: 1.3vw;
  width: 25vw;
  font-weight: bolder;
}

.contributor2 {
   ;
  top: 4vh;
  right: 0vw;
  font-size: 1.3vw;
  width: 25vw;
  font-weight: bolder;
}

.contributionDate2 {
   ;
  top: 71.8vh;
  right: 44vw;
  font-size: 1.2vw;
  width: 20vw;
  font-weight: bolder;
}

img.tag3 {
   ;
  top: 55vh;
  right: 25.5vw;
  width: 2.3vw;
}

.bookText3 {
   ;
  top: 54vh;
  right: 22vw;
  font-size: 1.3vw;
  font-weight: bolder;
}

.bookTitle3 {
   ;
  top: 60vh;
  right: 12.6vw;
  font-size: 1.3vw;
  width: 15vw;
  font-weight: bolder;
}

.contributionDate3 {
   ;
  top: 71vh;
  right: 10.5vw;
  font-size: 1.2vw;
  width: 17vw;
  font-weight: bolder;
}

.shonaImg {
  width: 30vw;
  height: 49vh;
   ;
  left: 15vw;
}

.sihle {
  width: 15vw;
   ;
  right: 12.5vw;
}

/**********************************END OF BODY STYLES********************************************/
/**********************************END OF BODY STYLES********************************************/
/**********************************END OF BODY STYLES********************************************/

/**********************************FOOTER STYLES********************************************/
/**********************************FOOTER STYLES********************************************/
/**********************************FOOTER STYLES********************************************/

footer {
   ;
  bottom: 10vh;
  text-align: center;
}

.followUsText {
  font-size: 1.75vw;
   ;
  width: 15vw;
  top: 210vh;
  left: 42.5vw;
}

.socialMedia {
   ;
  left: 45vw;
  top: 220vh;
  display: flex;
}

img.socialMediaIcon1 {
   ;
  width: 3vw;
  left: -2vw;
}

img.socialMediaIcon2 {
   ;
  width: 3vw;
  left: 3.5vw;
}

img.socialMediaIcon3 {
   ;
  width: 3vw;
  left: 8.5vw;
}

.policy {
  display: flex;
   ;
  left: 34vw;
  display: flex;
  width: 40vw;
  top: 235vh;
}

.policy li {
  margin-right: 2vw;
  font-size: 1.5vw;
  margin-bottom: 5vh;
  list-style: none;
}

.backToTop {
   ;
  left: 52vw;
  width: 3vw;
  bottom: 5vh;
}

.backToTopText {
   ;
  left: 38vw;
  font-size: 1.5vw;
  width: 20vw;
  margin-bottom: 5vh;
}
/**********************************END OF FOOTER STYLES********************************************/
/**********************************END OF FOOTER STYLES********************************************/
/**********************************END OF FOOTER STYLES********************************************/
