Background colour - #E8F1CD
Orange - #F15B12
Hover orange - #CD5014
Lemon - #84A528
Active black - #040404
Inactive black - #373737
Inactive black 2 - #727272
Inactive black 3 - #D2D2D2
White - #FFFFFF
Border black - #ADADAD


/**********************************GLOBAL STYLES********************************************/
/**********************************GLOBAL STYLES********************************************/
/**********************************GLOBAL STYLES********************************************/

* {
  margin: 0;
  background: #e8f1cd 0% 0% no-repeat padding-box;
  line-height: 150%;
}

a {
  text-decoration-line: none;
  color: black;
}

a:hover {
  color: #f15b12;
}

.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-5 {
  width: 41.6666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3332%;
}

.col-8 {
  width: 66.6665%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3331%;
}

.col-11 {
  width: 91.6664%;
}

.col-12 {
  width: 100%;
}

/**********************************END OF GLOBAL STYLES********************************************/
/**********************************END OF GLOBAL STYLES********************************************/
/**********************************END OF GLOBAL STYLES********************************************/

/**********************************HEADER STYLES********************************************/
/**********************************HEADER STYLES********************************************/
/**********************************HEADER STYLES********************************************/


header {
  display: flex;
  text-align: center;
  margin: auto;
  position: fixed;
  top: 2.5vh;
  left: 5vw;
  right: 5vw;
}

nav {
  font-size: 1.5vw;
  position: absolute;
  left: 23vw;
  top: 5vh;
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 1vw;
}


.home {
  margin-right: 2vw;
}

#aboutUs {
  margin-right: 2vw;
  margin-left: 2vw;
}

#afrotadaShop {
  margin-right: 2vw;
}

#contactUs {
  margin-right: 2vw;
}

#joinOurTeam{
  font-style: normal;
  list-style: none;
  box-sizing: border-box;
  display: inline-block
}

#list{
  list-style: none;
  display: none;
  position: absolute;
}

#joinOurTeam:hover{
  display: block;
}

#languageSelector {
  position: absolute;
  left: 60vw;
  top: 0.6vh;
  background-color: white;
  font-size: 1.3vw;
}

.afroTadaLogo img {
  position: absolute;
  width: 15vw;
  top: 3vh;
  left: 0vw;
}

#search {
  text-align: left;
  position: absolute;
  left: 31vw;
  top: 16vw;
  width: 30vw;
  height: 7vh;
  background-color: white;
  border-color: white;
  border-style: none;
}

::placeholder {
  padding-left: 1vw;
  font-size: 1.5625vw;
}

#searchIcon {
  color: white;
  background-color: #f15b12;
  width: 1.28vw;
  padding: 1vw;
  margin-bottom: 0;
  position: absolute;
  top: 33.37vh;
  left: 57.7vw;
}

button {
  display: contents;
}


/**********************************END OF HEADER STYLES********************************************/
/**********************************END OF HEADER STYLES********************************************/
/**********************************END OF HEADER STYLES********************************************/

/**********************************BODY STYLES********************************************/
/**********************************BODY STYLES********************************************/
/**********************************BODY STYLES********************************************/
body {
  background-repeat: no-repeat;
  background-color: #DCE8B9;
}
main {
  
  width: 80vw; 
  height: 70vh;
  position: absolute;
  top: 40vh;
  left: 10vw;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-weight: bold;
  font-size: 1.3vw;
}

.col-3 {
  margin-bottom: 2vw;
}

.col-3 img {
  width: 10vw;
}

/**********************************END OF BODY STYLES********************************************/
/**********************************END OF BODY STYLES********************************************/
/**********************************END OF BODY STYLES********************************************/

/**********************************FOOTER STYLES********************************************/
/**********************************FOOTER STYLES********************************************/
/**********************************FOOTER STYLES********************************************/

footer {
  position: absolute;
  bottom: 10vh;
  text-align: center;
}

.followUs {
  font-size: 1.75vw;
  position: absolute;
  width: 15vw;
  top: 430vh;
  left: 41vw;
}

.socialMedia {
  position: absolute;
  left: 45vw;
  top: 440vh;
  display: flex;
}

img.socialMediaIcon1 {
  position: absolute;
  width: 3vw;
  left: -3vw;
}

img.socialMediaIcon2 {
  position: absolute;
  width: 3vw;
  left: 2vw;
}

img.socialMediaIcon3 {
  position: absolute;
  width: 3vw;
  left: 7vw;
}

.policy {
  display: flex;
  position: absolute;
  left: 34vw;
  display: flex;
  width: 40vw;
  top: 135vh;
}

.policy li {
  margin-right: 2vw;
  font-size: 1.5vw;
  margin-bottom: 5vh;
  list-style: none;
}

.backToTop {
  position: absolute;
  left: 52vw;
  width: 3vw;
  margin-bottom: 5vw;
}

.backToTopText {
  position: absolute;
  left: 37vw;
  font-size: 1.5vw;
  width: 20vw;
}
/**********************************END OF FOOTER STYLES********************************************/
/**********************************END OF FOOTER STYLES********************************************/
/**********************************END OF FOOTER STYLES********************************************/
