:root 
{--Background-colour: #E8F1CD;
--Background-gradient: #DCE8B9;
--Orange: #F15B12;
--Hover-orange: #CD5014;
--Lemon: #84A528;
--Active-black: #040404;
--Inactive-black: #373737;
--Inactive-black-2: #727272;
--Inactive-black-3: #D2D2D2;
--White: #FFFFFF;
--Border-black: #ADADAD;
}

/**********************************GLOBAL STYLES********************************************/
/**********************************GLOBAL STYLES********************************************/
/**********************************GLOBAL STYLES********************************************/

* {
  margin: 0;
  border: 0;
  padding: 0;
  background: var(--Background-colour) 0% 0% no-repeat padding-box;
  line-height: 150%;
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
  color: var(--Active-black);
}


a:hover {
  color: var(--Hover-orange);
}


.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-5 {
  width: 41.6666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3332%;
}

.col-8 {
  width: 66.6665%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3331%;
}

.col-11 {
  width: 91.6664%;
}

.col-12 {
  width: 100%;
}

/**********************************END OF GLOBAL STYLES********************************************/
/**********************************END OF GLOBAL STYLES********************************************/
/**********************************END OF GLOBAL STYLES********************************************/

/**********************************HEADER STYLES********************************************/
/**********************************HEADER STYLES********************************************/
/**********************************HEADER STYLES********************************************/


header {
  display: flex;
  text-align: center;
  margin: auto;
  position: fixed;
     
  left: 5vw;
  right: 5vw;
}

nav {
  font-size: 1.5vw;
   ;
  left: 23vw;
     
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 1vw;
}
.home {
  margin-right: 2vw;
}

#aboutUs {
  margin-right: 2vw;
  margin-left: 2vw;
}

#afrotadaShop {
  margin-right: 2vw;
}

#contactUs {
  margin-right: 2vw;
}

#joinOurTeam{
  font-style: normal;
  list-style: none;
  box-sizing: border-box;
  display: inline-block
}

#list{
  list-style: none;
  display: none;
   ;
}

#joinOurTeam:hover{
  display: block;
}


#languageSelector {
   ;
  left: 60vw;
     
  background-color: white;
  font-size: 1.3vw;
}

.afroTadaLogo img {
   ;
  width: 15vw;
  top: 3vh;
  left: 0vw;
}

#search {
  text-align: left;
   ;
  left: 31vw;
  top: 16vw;
  width: 30vw;
  height: 7vh;
  background-color: white;
  border-color: white;
  border-style: none;
}

::placeholder {
  padding-left: 1vw;
  font-size: 1.5625vw;
}

#searchIcon {
  color: white;
  background-color: #f15b12;
  width: 1.28vw;
  padding: 1vw;
  margin-bottom: 0;
   ;
  top: 33.37vh;
  left: 57.7vw;
}

button {
  display: contents;
}

/**********************************END OF HEADER STYLES********************************************/
/**********************************END OF HEADER STYLES********************************************/
/**********************************END OF HEADER STYLES********************************************/

/**********************************BODY STYLES********************************************/
/**********************************BODY STYLES********************************************/
/**********************************BODY STYLES********************************************/
body {
  background-repeat: no-repeat;
  background-color: #DCE8B9;
}
main {
   ;
  top: 20vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

main img {
   ;
  left: 9vw;
}


/**********************************END OF BODY STYLES********************************************/
/**********************************END OF BODY STYLES********************************************/
/**********************************END OF BODY STYLES********************************************/

/**********************************FOOTER STYLES********************************************/
/**********************************FOOTER STYLES********************************************/
/**********************************FOOTER STYLES********************************************/

footer {
  text-align: center;
}

#followUsText {
  font-size: 1.75vw;
  width: 15vw;
  text-align: center;
  margin: auto;
  margin-top: 2%;
}

#socialMedia img{
  margin: auto;
  margin-top: 2vh;
}

img#socialMediaIcon1 {
  width: 3vw;
  margin-right: 1vw;
}

img#socialMediaIcon2 {
  width: 3vw;
  margin-right: 1vw;
}

img#socialMediaIcon3 {
  width: 3vw;
}

#policy {
  display: flex;
  width: 100%;
  padding-left: 35%;
  margin-top: 2%;
}

#policy li {
  margin-right: 2vw;
  font-size: 1.5vw;
  margin-bottom: 5vh;
  list-style: none;
}

#backToTop {
  padding-left: 22%;
  font-size: 1.5vw;
  margin-bottom: 5%;
  width: 40%
}

#backToTop img {
  padding-left: 10%;
  width: 4vw;
}
/**********************************END OF FOOTER STYLES********************************************/
/**********************************END OF FOOTER STYLES********************************************/
/**********************************END OF FOOTER STYLES********************************************/
@media screen and (max-width: 1024px){
  header img{
    padding-top: 1.5vh;
    padding-left: 2vw;
    background-color: var(--Background-gradient);  
  }
  
  nav {
    font-size: 1.5vw;
    display: flex;
    padding-top: 2.2vh;
    padding-left: 15vw;
    background-color: var(--Background-gradient);  
  }
  #afrotadaShopText {
    padding-top: 0.5vh;
  }

  input {
    padding-left: 1vw;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    font-size: 1.5vw;
    background-color: white;
    width: 30vw;
    height: 100%;
    border: none;
    outline: none;
  }

  img#searchIcon {
    width: 12%;
    padding: 0.5vw;
    color: white;
    background-color: var(--Orange);
    height: 100%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 768px){
  header img{
    padding-top: 1.5vh;
    padding-left: 2vw;
    background-color: var(--Background-gradient);  
  }
  
  nav {
    font-size: 1.5vw;
    display: flex;
    padding-top: 2.2vh;
    padding-left: 15vw;
    background-color: var(--Background-gradient);  
  }
  #afrotadaShopText {
    padding-top: 0.5vh;
  }

  input {
    padding-left: 1vw;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    font-size: 1.5vw;
    background-color: white;
    width: 30vw;
    height: 100%;
    border: none;
    outline: none;
  }

  img#searchIcon {
    width: 12%;
    padding: 0.5vw;
    color: white;
    background-color: var(--Orange);
    height: 100%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 480px){
  header img{
    padding-top: 1.5vh;
    padding-left: 2vw;
    background-color: var(--Background-gradient);  
  }
  
  nav {
    font-size: 1.5vw;
    display: flex;
    padding-top: 2.2vh;
    padding-left: 15vw;
    background-color: var(--Background-gradient);  
  }
  #afrotadaShopText {
    padding-top: 0.5vh;
  }

  input {
    padding-left: 1vw;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    font-size: 1.5vw;
    background-color: white;
    width: 30vw;
    height: 1vh;
    border: none;
    outline: none;
  }

  img#searchIcon {
    width: 10%;
    padding: 0.5vw;
    color: white;
    background-color: var(--Orange);
    height: 100%;
    margin-right: 5%;
  }
}
